[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pandas = "*"
dash = "==1.14.0"
jupyterlab = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
